
#container{
	margin:2%;
}
#container img{
	cursor: pointer;
}
#previa{
	background: rgba(0,0,0,0.5);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	overflow: scroll;
}
#previa div{
	margin: 30px auto;
	text-align: center;
}
#close {
	position: relative;
	top: 5px;
	right: 35px;
	vertical-align: top;
}
#nombreFoto {
	color: black;
	font-weight: bold;
	font-family: sans-serif;
}
