/* triada de colores :azul 144bff, 547cff*/

body{
	font-size: 16px;
	line-height: 20px;
	font-family: 'Oswald', sans-serif;
	
}

nav{
	background-color: #144bff;
	margin-bottom: 0;
}

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul li{
	display: inline-block;
	width: 14%;
}

nav ul li a{
	color:white;
	text-align: center;
	text-decoration: none;
	padding: 0.2em 0.4em;
	font-size:0.8em;
	display: block;
	transition: all 0.3s ease;
}

.menu{
	width:100%;
}

nav ul li a:hover{
	box-shadow: inset 0 0 0 50px #547cff;
}

/*--ICONOS DE REDES SOCIALES--*/
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?o2mod1');
  src:  url('fonts/icomoon.eot?o2mod1#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?o2mod1') format('truetype'),
    url('fonts/icomoon.woff?o2mod1') format('woff'),
    url('fonts/icomoon.svg?o2mod1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-facebook:before,
.icon-instagram:before{
  font-family: 'icomoon';
  }

.icon-facebook:before {
  content: "\face";
}
.icon-instagram:before {
  content: "\ea92";
}

/*--ICONOS DE REDES SOCIALES--*/

.homeimg{
width:85%;
height:85%;
margin-left:8%;
}

#imagenes{
	background-image: url("img/home/foto1.jpg");
}

/*--COMIENZO ESCUELA--*/

section{
	margin:0;
	padding:0, auto;
	height:720px;
	position:relative;
}

.cuadro2{
	width: 100%;
	margin:0;
	opacity: 0.7;
}

h2{
	font-size:1.3em;
	font-weight:200;
	position:absolute;
	background-color: #144bff;
}

.sec{
	margin-left:3%;
	padding:0.2em;
	color: white;
}

.secesc{
	top:17%;
}

.cuadro1{
	position:relative;
	border-radius:50%;
	height:325px;
	width:325px;
	z-index:9;
}

.cuadro3{
	background-color:white;
	width:25%;
	position:absolute;
	top:25%;
}

.cuadro3 ul{
	list-style-type: none;
}

.cuadro3 ul li{
	font-weight:700;
	font-size:4em;
	margin:1.3em 0;
	top:1em;
	color: rgba(100,100,100,0.2);
}

.agrandar{
	font-size:6em;
	margin-left:10%;
	margin:0 0.4em;
}

h3{
	padding:0;
	font-weight:700;
	color: rgba(100,100,100,0.2);
}

.fotoesc{
	top:-60px;
}

h1{
	font-size:4em;
	font-style:bold;
	position:absolute;
	z-index:10;
	color: #144bff;
}

.titesc{
	top:50%;
	left:35%;
}

.finita{
	font-weight:400;
}

p{
	font-family:sans-serif;
	font-size:0.8em;
	width:35%;
	position:absolute;
	z-index:12;
	padding-top:1em;
}

.pesc{
	top:60%;
	left:42%;
}

.centro{
	margin-left:20%;
}

/*--FIN ESCUELA--*/

/*--COMIENZO INSTRUCTORES--*/

.fondoins{
	width:100%;
	height:70%;
}

.secinst{
	top:1%;
	z-index:100;
}

.dan{
	font-size:14.5em;
	writing-mode: vertical-lr;
	position: absolute;
	color: rgba(102,102,255,0.5);
	margin: 0;
	left:5%;
	top:0%;
}

.nombins{
	left:35%;
	top:25%;
}

.fotoins{
	top:18%;
	position:absolute;
	left:18%;
	border:2em solid white;
}

.presentacion{
	left:46%;
	top:36%;
}

.colorblanco{
	background-color:white;
	width:68%;
	height:55%;
	position:absolute;
	top:18%;
	left:32%;
}

.lugins{
	height:5%;
	margin-left:85%;
	width:10%;
	top:60%;
	position: absolute;
}

.horario{
	font-weight:400;
	background-color: #144bff;
	color:white;
}

.circulosins{
	width:80px;
	height:80px;
	margin: 5.3em 3em;
	transition: all 0.3s ease;
	filter: grayscale(80%);

}

.circulosins:first-child{
	margin-left: 55%;
}

.elegido{
	filter: grayscale(0%);
}

.circulosins:hover{
	filter: grayscale(0%);
	border-radius:50%;
}

.caritas{
	display: inline-flex;

}

/*--FIN INSTRUCTORES--*/

/*--COMIENZO GALERIA--*/

.fndgal{
	width:20%;
	height:23%;
	background-color: #547cff;
	margin-bottom:2.5em;
}

.secgal{
	top:10%;
	margin-left:2.5em;
}

.titgal{
	top:15%;
	margin-left:1em;
}

.cajagaleria{
	width:85%;
	height:63%;
	border-style: dashed;
	text-align: center;
	margin-left:9%;
}

.imggaleria{
	display: inline-flex;
	justify-content:space-between;
	background-color:violet;
	width:30%;
	height:94%;
	margin:1em;
}

/*--FIN GALERIA--*/

/*--COMIENZO SEDES--*/
.fndsedes{
	border-style: dashed;
	width:44%;
	height:20%;
	background-color:white;
}

.titsed{
	top:5%;
	margin-left:1em;
}

.cajassedes{
	width:85%;
	height:25%;
	margin:1% 0 1% 3%;
}

.lugares{
	display: inline-flex;
	justify-content:space-between;
	width:33%;
}

.partido{
	font-weight:400;
	background-color: #144bff;
	color:white;
	margin-right:8em;
}

.domi{
	font-weight:400;
}

h4{
	font-size:1.3em;
	font-weight:200;	
	margin:0.4em 0;
	}
	
.secsed{
	top:5%;
	flex-direction: column;
}

.mapasyform{
	display: inline-flex;
	margin:2em 0  0 2em;
	width:90%;
}

.formytext{
	width:30%;
	margin-left:2em;
}

#coment{
	border:none;
	border-bottom:1px solid #547cff;
	border-left:1px solid #547cff;
	margin:1em 0;
	width:90%;
	height:1.6em;
	background-color:white;
	padding-left:0.5em;
}

.nomap{
	display: inline-flex;
	width:50%;
}

.envbor{
	display: inline-flex;
}

#envibor{
	background-color:#547cff;
	color:white;
	border-radius:20%;
	padding:0.3em 1em 0.3em;
	margin-left:0.5em;
}

/*--FIN SEDES--*/

/*inicio media 960px*/

@media screen and (max-width: 960px){

section{
	box-sizing: border-box;
}

.cuadro3 ul li{
	font-size: 2.5em;
}

.agrandar{
	margin-top:30%;
	font-size:3.5em;
}

.pesc{
	top:40%;
	margin-left:15%;
}	

.titesc{
 margin-left:10%;
 top:30%;
}

cuadro1{
	height:200px;
	width:200px;
}

/*--COMIENZO INSTRUCTORES--*/


.nombins{
	left:40%;
}

.presentacion{
	left:60%;
}

.colorblanco{
	top:19%;
	left:35%;
}

.circulosins:first-child{
	margin-left: 5%;
}

.lugins{
	margin-left:75%;
	top:70%;
	width:20%;
}

.colorblanco{
	width: 65%;
}

/*--FIN INSTRUCTORES--*/

.cajassedes{
	width:97%;
}

}

/*inicio media 768px*/

@media screen and (max-width: 768px){

section{
	box-sizing: border-box;
}

.cuadro3 ul li{
	color:white;
}

.agrandar{
	color:white;
}

.centro{
	margin-left: 5%;
}

.fotoesc{
	top:0%;
}

.pesc{
	top:30%;
	margin-left:13%;
	width:40%;
}	

.titesc{
 margin-left:0%;
 top:20%;
}

cuadro1{
	height:150px;
	width:150px;
}

/*--COMIENZO INSTRUCTORES--*/
 
.dan{
	 writing-mode: horizontal-tb;
	 font-size: 3em;
	 opacity: 0;
}

.fotoins {
	left: 0%;
	height: 250px;
	width: 250px;
	border: 1em solid white;;
}

.nombins{
	left:22%;
}

.presentacion{
	left:42%;
	top:34%;
	width:56%;
}

.colorblanco{
	left:16%;
	width: 84%;
}

.lugins{
	margin-left: 20%;
	top: 60%;
	width: 55%;
}

/*--FIN INSTRUCTORES--*/
.view .mask, .view .content {
top: 6%;
}

.lugares {
	width:49%;
}

.mapasyform {
    margin-left: 1em;
    margin-top: 33%;
}

iframe{
	 width:50%;
	 height:270px;
}

.formytext {
    width: 45%;
 }

}

/*inicio media 480px*/
@media screen and (max-width: 480px){
.cuadro2{
	opacity: 0;
}

.secesc {
    top: -10%;
}

.centro{
	top: -10px;
	position:absolute;
}

.fotoesc{
	top:-10%;
	margin-left:10%;
}

.titesc{
 top: 75%;
 margin-left:-21%;
 }
 
 .pesc{
	top: 96%;
	margin-left: -34%;
	width:100%;
	text-align: center;
}

/*--COMIENZO INSTRUCTORES--*/

.fotoins {
	left: 18%;
	top: 6%;
}

.nombins{
	top: 30%;
	left: 26%;
	line-height: 59px;
}

.presentacion{
	left: 7%;
	top: 50%;
	width: 90%;
	text-align: center;
}


.lugins{
	margin-left: 15%;
	top: 76%;
	width: 80%;
	text-align: center;
}

.circulosins{
	margin:12em 1em;
}

/*--FIN INSTRUCTORES--*/
.titgal {
    top: 15%;
    line-height: 59px;
    text-align: center;
}

.cajagaleria {
    height: 140%;
}

.view {
    width: 98%;
    height: 33%;
    margin: 8.5%;
}

.titsed {
    top: 68%;
    margin-left: 0.3em;
    line-height: 59px;
}

.partido{
	margin:0;
}

.lugares:first-child {
    margin-top: 41%;
   }

.lugares {
	width: 80%;
	margin: 1% 3% 0% 3%;
	text-align: center;
}

.secsed{
	margin: 1em 0em 0em 5em;
}

.mapasyform {
   margin-top: 211%;
   display:block;
}

iframe{
	 width:100%;
	 height:270px;
}

.formytext {
    width: 90%;
 }


}
